@page
@model HyggeGaming.Pages.Public.UsIndexModel
@{
    ViewData["Title"] = "AboutUs";
}

<h1>About Us</h1>
<p></p>
<p>This is our info site with a short description of the creew and how it startet</p>

<div class="row align-content-center">
    <div class="container rounded-3 m-5" style="background-color:#EEE2CA;">
        <div class="row align-content-center">
            <!-- Venstre kolonne med billede -->
            <div class="col-4 align-content-center">
                <h2>Peter Eriksen</h2>
                <img src="~/img/Old_Black_and_White_Scrapbook.png" style="max-width:400px; max-height:auto;" />
                <p></p>
            </div>
            <!-- Højre kolonne med tekst -->
            <div class="col-8 align-content-center">
                <h3>Peter Eriksen</h3>
                <p>
                    Peter Eriksen som startede for urimelig mange år siden, er nu ved at..............
                    Når man ser på branches Grand Old man, kan man ikke lade være med at tænke at den Ferrie røde roullator ikke bare er kommet ud af ingenting.
                </p>
                <p>
                    Contact on mobile +45 33 88 44   E-mail: peek@hygge-gaming.com
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row align-content-center">
    <div class="container rounded-3 m-5" style="background-color:#EEE2CA;">
        <div class="row align-content-center">
            <!-- Venstre kolonne med billede -->
            <div class="col-4 align-content-center">
                <h2>Paprika Seidler</h2>
                <img src="~/img/Old_Black_and_White_Scrapbook.png" style="max-width:400px; max-height:auto;" />
                <p></p>
            </div>
            <!-- Højre kolonne med tekst -->
            <div class="col-8 align-content-center">
                <h3>Paprika Seidler</h3>
                <p>
                    Paprika har i flere år stået for udvikling og styling, og vandt for fjerde år i træk til Styling Award.
                </p>
                <p>
                    Contact on mobile: +45 33 77 55   E-mail: pase@hygge-gaming.com
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row align-content-center">
    <div class="container rounded-3 m-5" style="background-color:#EEE2CA;">
        <div class="row align-content-center">
            <!-- Venstre kolonne med billede -->
            <div class="col-4 align-content-center">
                <h2>Morten Berner</h2>
                <img src="~/img/Old_Black_and_White_Scrapbook.png" style="max-width:400px; max-height:auto;" />
                <p></p>
            </div>
            <!-- Højre kolonne med tekst -->
            <div class="col-8 align-content-center">
                <h3>Morten Berner</h3>
                <p>
                    Den ekstremt positive og ungdommelige udvikler, sørger altid for at arbejdsstemningen er i top.
                </p>
                <p>
                    contact on mobile: +45 33 44 55 66    E-mail: mobe@hygge-gaming.com  
                </p>
            </div>
        </div>
    </div>
</div>
<h5>This is where the contact info could be declared. The free styler and designer is on the way</h5>