@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="text-center pb-5 mb-5 mt-1">
            <h1 class="display-4">Welcome to Hygge Gaming</h1>
            <p>Hygge - A feeling that cannot be translated - but <a class="nav-link" href="https://en.wikipedia.org/wiki/Hygge">Hygge</a></p>
            <p>It is in the Spirit of hygge, that we will endevor to bring you enjoyable games.</p>
            <p>We are working on this website as you read this!</p>
        </div>
    </div>

    <div class="row justify-content-center pt-5 mt-5">
        <div class="col-2 pt-5 mt-5">
            <a asp-page="/AboutUs/UsIndex" class="btn-lg btn-outline-light btn-bg">About Us</a>
        </div>
        <div class="col-2 pt-5 mt-5">
            <a asp-page="/Public/OurGames" class="btn-lg btn-outline-light btn-bg">Our Games</a>
        </div>
        <div class="col-2 pt-5 mt-5">
            <a asp-page="#" class="btn-lg btn-outline-light btn-bg">News</a> 
        </div>
    </div>
</div>


