@page
@model IndexModel
@{
    ViewData["Title"] = "Hygge Gaming";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hygge Gaming</h1>
    <p>Hygge - A feeling that cannot be translated - but <a class="nav-link" href="https://en.wikipedia.org/wiki/Hygge">Hygge</a></p>
    <p>It is in the Spirit of hygge, that we will endevor to bring you enjoyable games.</p>
    <p>We are working on this website as you read this!</p>
</div>
