@page
@model HyggeGaming.Pages.testModel
@{
}

<h1>All employees:</h1>

<table class="table">
    <thead>
        <tr>
            <th> Employee Id   </th>
            <th>  Name  </th>
            <th> Address  </th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Employee != null)
        {
            @foreach (var item in Model.Employee)
            {
                <tr>
                    <td> @item.EmployeeId  </td>
                    <td> @item.FirstName @item.LastName </td>
                    <td> @item.Address </td>
                </tr>
            }
        }
</table>