<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HyggeGaming</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HyggeGaming.styles.css" asp-append-version="true" />
</head>
<body class="@((ViewData["Title"]?.ToString() == "Index" ? "bg-image" : ""))">
    <header>

        <nav class="navbar navbar-collapse navbar-light textnav" style="opacity: 0.7;">
            <div class="container-fluid">
                <a class="navbar-brand" href="javascript:void(0)"></a>
                <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/index">Home</a>
                        </li>                       
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/AboutUS/UsIndex">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Public/OurGames">Our Games</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2024 - HyggeGaming - <a asp-area="" asp-page="/Privacy">Privacy</a>
            <a class="btn btn-outline-dark ms-5" asp-page="/Employees/Login">Employee Login</a> @*TODO set login to the right!!!*@
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>