@page
@model HyggeGaming.Pages.Assignments.EditAssignmentModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Assignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Assignment.AssignmentId" />
            <div class="form-group">
                <label asp-for="Assignment.AssignmentName" class="control-label"></label>
                <input asp-for="Assignment.AssignmentName" class="form-control" />
                <span asp-validation-for="Assignment.AssignmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.Description" class="control-label"></label>
                <input asp-for="Assignment.Description" class="form-control" />
                <span asp-validation-for="Assignment.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.Status" class="control-label"></label>
                <select asp-for="Assignment.Status" class="form-control">
                    @foreach (var status in Model.StatusOptions)
                    {
                        <option value="@status" selected="@(status == Model.Assignment.Status)">
                            @status
                        </option>
                    }
                </select>
                <span asp-validation-for="Assignment.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.GameId" class="control-label"></label>
                <select asp-for="Assignment.GameId" class="form-control" asp-items="ViewBag.GameId"></select>
                <span asp-validation-for="Assignment.GameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Assignments/AllAssignments">Back to List</a>
</div>


