html {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    /*background-color: #050414;
    color: ivory;*/
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.container-fluid {
    background-color: #050414;
}

.themeColor {
    background-color: #050414;
    /*color: ivory;*/
}

.image-container {
    position: relative;
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index-img {
    width: 100%;
    height: 100%;
}

.containerLogin {
    background-color: #222;
    border-radius: 5px;
    margin: 20px;
    padding: 30px;
    padding-bottom: 50px;
    color: ivory;
}

/* Styling for the form input boxes */
/*input.form-control {
    background-color: #333;*/ /* Dark background color for the input */
    /*color: ivory;*/ /* Light text color */
    /*border: 1px solid #555;*/ /* Subtle border color */
    /*padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

    input.form-control:focus {
        background-color: #444;*/ /* Slightly lighter background when focused */
        /*color: ivory;*/
        /*outline: none;
        border-color: #777;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);*/ /* Subtle glow effect */
    /*}*/

/*table css*/
table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #524b58;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #2D2B40;
}


/*---*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 10px;
    max-width: 316px;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }



/*Modal*/
.myModal {
    background-color: #222;
    color: ivory;
}

/*---*/

/*SideNAV til Employee*/
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 50px;
}

    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

.main {
    margin-right: 200px; /* Same as the width of the sidenav */
}

.sidenav .logout-container {
    position: absolute;
    bottom: 20px; 
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
}

/*Til profile design*/
.profile-img {
    width: 100%;
}

.form-like {
    display: block;
    align-items: center;
    margin-bottom: 10px;
}

.fake-label {
    display: block;
    font-weight: bold;
    margin-right: 10px;
    text-transform: capitalize;
}

.fake-input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    width: 100%;
    min-width: 200px;
    display: inline-block;
}

/*---*/

.select-option {
    color: black;
    background-color: white;
}

.bg-image {
    background-image: url('../img/Pedro.png'); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

}

/*nav*/
.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none !important;
}

.textnav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

    .textnav a:hover {
        color: #f1f1f1;
    }