@page
@model HyggeGaming.Pages.OurProjects.ProjectsIndexModel
@{
}

<div class="row">
    <div class="col-12 container-fluid text-center container-color">
        <h1>Our Projects</h1>
    </div>
</div>


<div class="row mt-4">


    <div class="row mt-4">

        <div class="col-sm-6 col-md-3">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="~/img/LavaDungeon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Lava Dungeon (in progress)</h5>
                    <p class="card-text">2D game for android made with unity.<br /></p>
                    <a href="/Portfolio/LavaDungeon" class="btn btn-dark">View details</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="~/img/dch.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Insert text.</p>
                    <a href="/Portfolio/DcH" class="btn btn-dark">View details</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="~/img/dch.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Insert text.</p>
                    <a href="/Portfolio/DcH" class="btn btn-dark">View details</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="~/img/dch.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Insert text.</p>
                    <a href="/Portfolio/DcH" class="btn btn-dark">View details</a>
                </div>
            </div>
        </div>

    </div>
