@page
@model HyggeGaming.Pages.AboutUs.UsIndexModel
@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">Employee info comming soon</h1>
    
    <p>We are working on this site as you read this!</p>
</div>
}
