@page
@model HyggeGaming.Pages.AboutUs.UsIndexModel
@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>
<p></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet interdum nisl. Praesent a fermentum nulla. Integer aliquet non orci non mollis. Morbi ornare dapibus rutrum. Curabitur ac tincidunt tortor.</p>

<div class="row align-content-center">
   
        <div class="container rounded-3 m-5" style="background-color:#EEE2CA;">
            <div class="row align-content-center">
                <div class="col-4 align-content-center">
                    <img src="~/img/PlaceholderPedro1.png" style="max-width:400px; max-height:auto;" />
                </div>              
            </div>
        </div> 
</div>