@page
@model HyggeGaming.Pages.AboutUs.UsIndexModel
@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>
<p></p>
<p>This is our info site with a short description of the creew and how it startet</p>

<div class="row align-content-center">
   
        <div class="container rounded-3 m-5" style="background-color:#EEE2CA;">
            <div class="row align-content-center">
                <div class="col-4 align-content-center">
                    <img src="~/img/Old_Black_and_White_Scrapbook.png" style="max-width:400px; max-height:auto;" />
                </div>              
            </div>
        </div> 
</div>
<p>This is where the contact info could be declared. The stylist and designer is on the way</p>